<div>

    <form class="content" (submit)="guardarConsulta()">
        <div style="margin-left: 10%; width: 85%;">
            <div class="row">
                <div class="submit-form">
                    <h1>Contacte al anunciante</h1>
                    <p>Completa esta información y consigue respuestas más rápido. Nosotros le enviaremos tus datos de
                        contacto al anunciante.</p>
                </div>
            </div>

            <div class="submit-form">
                <label for="nombre">Nombre completo*</label>
                <input type="text" class="form-control" name="nombre" id="nombre"
                    placeholder="Ingrese nombres completos" [(ngModel)]="consulta.nombre">
            </div>
            <div class="submit-form">
                <label for="correo" class="form-label">Coloque su correo*</label>
                <input type="text" class="form-control" name="correo" id="correo" placeholder="name@example.com"
                    [(ngModel)]="consulta.correo">
            </div>

            <div class="submit-form">
                <label for="comentario" class="form-label">Coloque su comentario*</label>
                <input type="text" class="form-control" name="comentario" id="comentario"
                    placeholder="Escriba su comentario" [(ngModel)]="consulta.comentario">
            </div>
            <div class="submit-form">
                <label for="telefono" class="form-label">Escriba su telefono*</label>
                <input type="number" class="form-control" name="telefono" id="telefono" placeholder="Ingrese su telefono"
                    [(ngModel)]="consulta.telefono">
            </div>
            <br>


            <div class="submit-form">

                <button class="btn btn-success">Enviar</button>

            </div>




        </div>



    </form>



</div>